.search {
    left: 6px;
    width: 99%;
    position: relative;
    display: flex;
}

#searchTerm {
    width: 25%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
#searchType {
    width: 22%;
    border: 3px solid #00B4CC;
    border-right: none;
    border-radius: 5px 0 0 5px;
    border-bottom-left-radius: 1000px 1px  !important;
    padding: 5px;
    height: 36px;
    outline: none;
    color: #9DBFAF;

}
#searchMetro {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    border-radius: 5px 0 0 5px;
    border-bottom-left-radius: 1000px 1px  !important;
    padding: 5px;
    height: 36px;
    outline: none;
    color: #9DBFAF;

}
#searchCity {
    width: 23%;
    border: 3px solid #00B4CC;
    border-right: none;
    border-radius: 5px 0 0 5px;
    border-bottom-left-radius: 1000px 1px  !important;
    padding: 5px;
    height: 36px;
    outline: none;
    color: #9DBFAF;

}
#searchCity:focus{
    color: #00B4CC;
}
#searchMetro2{
    z-index: 2;
    color: #00B4CC;
}
#searchMetro:focus{
    color: #00B4CC;
}

#searchTerm:focus{
    color: #00B4CC;
}
#searchType:focus{
    color: #00B4CC;
}
a{
    color: black;
}
.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
.suggestions {
    z-index: 3;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 0rem;
    border-radius: 0.125rem;
    box-shadow: 0 2px 4px hsla(220, 10%, 40%, 0.4), 0 6px 20px hsla(220, 10%, 40%, 0.3);
    background-color: #fff;
}

.suggestions > li {

    padding: 0.5rem;
    transition: 0.1s background-color ease-out;
}
.suggestions > li.current {
    background-color: hsl(220, 20%, 94%);
}
ul {
    list-style: none;
    padding: 0;
}
.autocomplete {
    width: 23%;
    position: relative;
}
small,
hr {
    display: block;
    margin: 1em 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.control-label {
    font-family: "fantasy", cursive;
    text-decoration-style: wavy;
    text-blink: 1;
    color: #000000;
    font-size: 1.4em;
    font-weight: 500;
    margin: 1em 0;
    background: -webkit-linear-gradient(top,  #f9d400 15%,#f89b00 35%,#f9d400 70%); /* Chrome10+,Safari5.1+ */
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.control-group {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    overflow: hidden;
    padding: 1em;
    width: auto;
}
.controls {
    display: block;
    margin: 1em 0;
}

.radio {
    margin: 16px 0;
    display: block;
    cursor: pointer;
}
.radio input {
    display: none;
}
.radio input + span {
    line-height: 22px;
    height: 22px;
    padding-left: 22px;
    display: block;
    position: relative;
}
.radio input + span:not(:empty) {
    padding-left: 30px;
}
.radio input + span:before, .radio input + span:after {
    content: '';
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 50%;
    left: 0;
    top: 0;
    position: absolute;
}
.radio input + span:before {
    background: #D1D7E3;
    transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.radio input + span:after {
    background: #fff;
    -webkit-transform: scale(0.78);
    transform: scale(0.78);
    transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
.radio input:checked + span:before {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    background: #5D9BFB;
}
.radio input:checked + span:after {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}
.radio:hover input + span:before {
    -webkit-transform: scale(0.92);
    transform: scale(0.92);
}
.radio:hover input + span:after {
    -webkit-transform: scale(0.74);
    transform: scale(0.74);
}
.radio:hover input:checked + span:after {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
}
#fromPrice  {
    position: relative;
    height: 20px;
    width: 100px;
    left: 120px;
    bottom: 100px;
}
#toPrice{
    position: relative;
    height: 20px;
    width: 100px;
    left: 120px;
    bottom: 100px;
}
#tire {
    position: relative;
    height: 20px;
    left: 120px;
    bottom: 105px;
}
input[type="number"] {
    -webkit-appearance: none;
    background-color: #9e9282;
    border: none;
    width: 500px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
    border: 0px solid black;
    transition: background-color 1s;
    transition: border 1s;
}

input[type="number"]:focus {
    -webkit-appearance: none;
    background-color: #a84b3e;
    border: 2px solid black;
    width: 500px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    outline: none;
    transition: background-color 1s;
    transition: border 1s;
}

#toPrice::-webkit-input-placeholder , #fromPrice::-webkit-input-placeholder {
    color: white;
    border: none;
}

#toPrice::-webkit-input-placeholder::after, #fromPrice::-webkit-input-placeholder {
    content: '>';
    color: black;
    border: none;
    font-weight: bold;
    position: relative;
    left: 0;
    transition: left 1s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}