#header{
    position: relative;
    top: 0;
    width: 100%;
    height: 100px;
}
navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color:#FAF5FF;
    z-index: 5;
    border-bottom: 1px #000000 dashed ;
}
#auth{
    width: 300px;!important;
}

#menu{
    width: 100%;
    min-height: 100%;
    text-align: center;
    position: relative;
    justify-content: center;
}
.navbarContent{
    float: left;
    font-family: Segoe UI, serif;
}
#feed{
    width: 110px;
}
#business{
    width: 70px;
}
#shop{
    width: 90px;
}
#help{
    width: 10px;
}
* {
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100%;
}

body {
    width: inherit;
    min-height: inherit;
    margin: 0;
    padding: 0;
}


.btn {
    float: right;
    bottom: 75px;
    border: 1px solid #1a7bba;
    padding: 0 32px;
    line-height: 44px;
    cursor: pointer;
    display: inline-block;
    margin: 20px 10px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    border-radius: 4px;
    font-size: 8px;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.1s ease-in-out, color 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out, color 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out, color 0.1s ease-in-out;
    transition: all 0.1s ease-in-out, color 0.1s ease-in-out;
    -webkit-font-smoothing: antialiased;
}

.flat {
    background-color: #1a7bba;
    color: #fff;
}

.flat:hover, .outline1:hover {
    background-color: #6ac6e2;
    border-color: #6ac6e2;
    color: #fff;
}

.outline {
    background-color: #fff;
    border: 1px solid #1a7bba;
    color: #1a7bba;
}

.outline2:hover {
    border-color: #6ac6e2;
    color: #6ac6e2;
}

.flat:active, .outline1:active {
    background: #135987;
    border-color: #135987;
    color: #fff;
}

.outline2:active {
    border-color: #135987;
    color: #135987;
}
.flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    max-width: 1400px;
}
.item {
    max-width: 300px;
    border-radius: 10px;
    border: 2px double #d1d1d1;
    background:#FFF5F7;
    padding: 15px;
    margin: 5px;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}
p {
    text-align: left;
}

@media ( min-width : 600px ){
    .flexbox {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        max-height: 1200px;
    }
    .item {
        flex-flow: column;
        width: 28%;
    }

}
/*Resize the wrap to see the search bar change!*/

@media screen and (max-width: 599px) {
    .flexbox {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        left: 5rem;
    }
    .item {
        flex-flow: column;
        min-width: 99%;
    }
}


@media screen and (max-width: 626px) {
    .navbarContent {
        font-size: 0.70em;
    }
    #feed{
        width: 6.7em;!important;
    }
    #business{
        width: 5em;!important;
    }
    #shop{
        width: 5em;!important;
    }
    #help{
        width: 0;!important;
    }
}
@media screen and (max-width: 465px) {
    .navbarContent {
        font-size: 0.6875em;
    }
    #feed{
        width: 6.3em;!important;
    }
    #business{
        width: 3.7em;!important;
    }
    #shop{
        width: 5.2em;!important;
    }
    #help{
        width: 0;!important;
    }
}

@media (max-width: 410px) {
    .navbarContent {
        font-size: 0.56em;
        font-weight: 900;
    }
    #feed{
        width: 7.5em;!important;
    }
    #business{
        width: 4.3em;!important;
    }
    #shop{
        width: 5.2em;!important;
    }
    #help{
        width: 0;!important;
    }
}
@media (max-width: 343px) {
    .navbarContent {
        font-size: 0.52em;
    }
    #feed{
        width: 6.55em;!important;
    }
    #business{
        width: 3.9em;!important;
    }
    #shop{
        width: 5.5em;!important;
    }
    #help{
        width: 0;!important;
    }
}
